.mat-card-align{
  display: flex;
  justify-content: flex-end;
}

.mat-card--container{
  margin: 2rem;
  border-radius: 0.5rem;
  width:471px;
}

.card-title--container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card-title {
  font-family: Lato;
  font-size: 1rem;
  font-weight: 700;
}

.matform-full-width{
  width:11rem;
  margin-left: 17rem;
}

.heading-styles{
  color: #444791;
}

.customer-image {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.image-container {
  display: flex;
}

.text-style {
  color: #808080;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem; 
  padding-top: 0.313rem;
}



 
  
  

  
 
 
 


 