<div class="list-quote-main--container">
  <mat-card class="list-quote--card">
    <div class="list-quote-card--container">
      <div class="list-quote--title">List Quote</div>
      <div class="list-quote-filter--container">
        <mat-form-field appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input matInput [(ngModel)]="filters.customerName" (ngModelChange)="onFilterChange()" placeholder="Search by customer name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="filters.city" (ngModelChange)="onFilterChange()" placeholder="Search by city">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="filters.status" (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let option of statusOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Network</mat-label>
          <input matInput [(ngModel)]="filters.network" (ngModelChange)="onFilterChange()" placeholder="Search by network">
        </mat-form-field>
      </div>

      <div *ngIf="isLoading" class="list-quote-loader--container">
        <mat-spinner></mat-spinner>
        <p>Quote list is loading...</p>
      </div>
      
      <div *ngIf="!isLoading && noQuoteFound" class="list-quote-no-quotes--found">
        <p>No quote found for the applied filters.</p>
      </div>

      <div *ngIf="!isLoading && !noQuoteFound && quotes.length > 0" class="list-quote-main-content">
        <mat-card appearance="outlined" *ngFor="let quote of quotes; let i = index" class="list-quote-content--card">
          <div class="list-quote-preview-main--header">
            <div>
              <img class="company-logo--image" src="assets/images/company-logo.png" alt="logo"/>
            </div>
            <div class="list-quote-company--title">Dynapix DOOH Media Quotations</div>
            
          </div>
          <div style="display: flex;justify-content: space-between;">
          <div class="create-quote-preview-header--content">
            <div class="create-quote-card--name">{{ quote.customerName }}</div>
            <div class="create-quote-preview-sub--content">
              <p class="create-quote-card--name">Date:</p>
              {{ quote.startDate | date: 'mediumDate' }} - {{ quote.expiryDate | date: 'mediumDate' }}
            </div>
          </div>
          <div>
            <button mat-icon-button (click)="onEditQuote(quote._id)">
              <img src="assets/images/edit.svg" alt="edit" />
            </button>
            <button mat-icon-button (click)="deleteQuote(quote._id)">
              <img src="assets/images/delete.svg" alt="delete" />
            </button>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>S.No</th>
              <th>City</th>
              <th>Media Identity</th>
              <th>Network</th>
              <th>Screen Identity</th>
              <th>Type of Media</th>
              <th>Screen Dimensions</th>
              <th>No. of Screens</th>
              <th>Slot Duration</th>
              <th>Loop Time</th>
              <th>No. of Impressions</th>
              <th>Avg Foot Falls</th>
              <th>Quoted Price</th>
              <th>GST(18%)</th>
              <th>Grand Total</th>
              <th>Creative Requirement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let previewItem of quote.preview; let j = index">
              <td>{{ j + 1 }}</td>
              <td>{{ quote.city }}</td>
              <td>{{ quote.mediaIdentity }}</td>
              <td>{{ quote.network }}</td>
              <td>{{ previewItem.screenNames.join(', ') }}</td>
              <td>{{ previewItem.typeOfMedia }}</td>
              <td>{{ previewItem.screenDimensions }}</td>
              <td>{{ previewItem.noOfScreens }}</td>
              <td>{{ previewItem.slotDuration }}</td>
              <td>{{ previewItem.loopTime }}</td>
              <td>{{ previewItem.noOfImpressions }}</td>
              <td>{{ previewItem.avgFootFall }}</td>
              <td>{{ previewItem.quotedPrice }}</td>
              <td>{{ previewItem.GST }}</td>
              <td>{{ previewItem.total  }}</td>
              <td>{{ quote.creativeRequirement }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="14" style="text-align: right; font-weight: bold;">Grand Total</td>
              <td  style="font-weight: bold;">{{ getGrandTotal(quote.preview)| number: '1.0-0' }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
        

          <div>
            <div class="create-quote-sub--title">Terms and Conditions</div>
            <ul>
              <li *ngFor="let term of termsAndConditions">
                {{ term.content }}
              </li>
            </ul>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
