/* screen-map.component.scss */
.map-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.card-body {
  padding: auto;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
}
:host {
  height: 100%;
}
