
<div class="bind-device-container">
  <h1 mat-dialog-title>Bind Device</h1>
  <div mat-dialog-content class="bind-device--content">
    <mat-form-field appearance="outline" class="form-field--width">
      <mat-label>Search Device by GUUID</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="GUUID"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onDeviceSelect($event.option.value)">
        <mat-option *ngFor="let device of filteredDevices | async" [value]="device.Guuid">
          {{ device.Guuid }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="onBind()" [disabled]="!selectedDevice">Bind Device</button>
  </div>
</div>
