.update-screen-main--container{
  padding: 2rem 2rem 0rem 2rem;
}
.update-screen--content{
    display: grid;
    grid-gap: 8px 24px;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    }
.update-screen--drop-area {
      display: flex;
      flex-direction: column;
      border: 0.1rem dashed #757fef;
      border-radius: 0.2rem;
      padding: 2rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: #fafbfb;
    }
    
.update-screen--drop-area img {
      max-width:7rem;
      max-height:7rem; 
    }
    
.update-screen--drop-area p {
      margin: 0; 
    }
.update-screen-browse-file--content{
display: flex;
align-items: center;
justify-content: center;
-webkit-text-fill-color: #757fef;
padding: 0.5rem;
border-radius: 0.5rem;
}
.update-screen-image--container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.update-screen--image-item{
  position: relative;
}

.update-screen--image-preview{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}

.update-screen--image-preview img {
  display: block;
  max-width: 100%;
  height: auto;
}

.update-screen-footer-content{
  display: flex;
justify-content: flex-end;
align-items: center;
gap: 8px;
flex: 1 0 0;
}
.update-screen-footer-button[_ngcontent-ng-c3331464470]{
  background: #757fef;
  -webkit-text-fill-color: #fff;
  box-shadow: none;
}


  .remove-button-container {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .remove-button {
    background-color: transparent;
    color: rgba(19, 19, 19, 0.516);
  }
  
  .remove-button:hover {
    background-color: transparent;
  }
  
  