<mat-card>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
    "
  >
    <img
      class="company-logo--image"
      src="assets/images/company-logo.png"
      alt="logo"
      style="width: 16rem"
    />
  </div>
  <mat-card-content>
    <div class="available-screens-container">
      <div class="available-screens-header">Available Screens</div>
    </div>

    <div class="screens-content">
      <div class="left-half">
        <div class="map-and-cards-container">
          <app-screen-map class="map-card"></app-screen-map>
        </div>
      </div>

      <div class="right-half">
        <div class="create-scheduler-card">
          <mat-card
            *ngFor="let a of screenCards"
            class="create-scheduler-card--container"
          >
            <div class="create-scheduler-card--content">
              <div>
                <img
                  [src]="a.imageUrls[0]"
                  class="create-scheduler-card--image"
                  (click)="openImageDialog(a)"
                />
              </div>
              <div>
                <div class="create-scheduler-card--name">
                  {{ a.screenName }}
                </div>
                <div class="create-scheduler-card--address">
                  {{ a.address }}
                </div>
                <div>
                  <div class="create-scheduler-card--subcontent">
                    Size: {{ a.size }}
                  </div>
                  <div class="create-scheduler-card--subcontent">
                    SFT: {{ a.SFT }}
                  </div>
                  <div class="create-scheduler-card--subcontent">
                    Next Available Date: {{ a.NextAvailableDate | date }}
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
