<mat-card class="container">
  <form [formGroup]="publicCaseForm" (ngSubmit)="onSubmit()">
    <div class="company-logo--container">
      <img
        src="assets/images/company-logo.png"
        alt="company-logo"
        class="logo"
      />
    </div>
    <div>
      <div class="header">How can we help you?</div>
      <div class="sub-header">
        Please describe your issue in detail so we can respond quickly.
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline" class="screen-name--container">
        <mat-label>Screen Name</mat-label>
        <input matInput type="text" formControlName="screenName" />
      </mat-form-field>
      <button
        mat-button
        class="add-screen-name--button"
        type="button"
        (click)="addScreenName()"
      >
        <div class="add-button-text">+ Add Screen Name</div>
      </button>
    </div>

    <mat-card *ngFor="let screenName of screenNames" class="card-container">
      <div class="card-content">
        <div class="image-section">
          <img src="assets/images/dynapix-screen.png" class="screen-image" />
        </div>
        <div class="details-section">
          <div class="item-name">{{ screenName.screenName }}</div>
        </div>
        <div class="serial-section">
          Serial Number/Bar Code
          <div class="serial-number">{{ screenName.serialNumber }}</div>
        </div>
        <div class="location-section">
          <mat-icon>location_on</mat-icon>
          {{ screenName.location }}
        </div>
        <button mat-button (click)="removeScreenName(screenName)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card>

    <div>
      <mat-form-field appearance="outline" class="case-subject--container">
        <mat-label>Case Subject</mat-label>
        <input matInput type="text" formControlName="caseSubject" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="case-type--container">
        <mat-label>Case Type</mat-label>
        <mat-select formControlName="caseType" required>
          <mat-option *ngFor="let type of caseTypes" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="case-status--container">
        <mat-label>Case Status</mat-label>
        <mat-select formControlName="caseStatus" required>
          <mat-option *ngFor="let status of caseStatus" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="case-description--container">
        <mat-label>Case Description</mat-label>
        <textarea
          matInput
          formControlName="caseDescription"
          required
        ></textarea>
      </mat-form-field>
    </div>
    <div class="fields-container">
      <mat-form-field appearance="outline" class="customer-name--container">
        <mat-label>Customer Name</mat-label>
        <input matInput type="text" formControlName="customerName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="phone-number--container">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" formControlName="phoneNumber" required />
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox
        formControlName="documentsUpload"
        (change)="onCheckboxChange($event)"
      >
        I have documents to upload
      </mat-checkbox>
    </div>

    <div
      *ngIf="isUploadVisible"
      class="upload-area"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
    >
      <p>Drag and drop files here or click to select files.</p>
      <input type="file" (change)="onFileSelected($event)" multiple />
    </div>
    <div *ngIf="uploadedFiles.length > 0" class="uploaded-files-list">
      <h3>Uploaded Files:</h3>
      <ul>
        <li *ngFor="let file of uploadedFiles; let i = index">
          {{ file.name }} ({{ file.type }})
          <button mat-button (click)="removeFile(i)">
            <mat-icon>cancel</mat-icon>
          </button>
        </li>
      </ul>
    </div>

    <div class="submit-button-container">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!publicCaseForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
