.mat-card--container {
  margin: 2rem;
  border-radius: 0.5rem;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.table-title {
  font-family: Lato;
  font-size: 1rem;
  font-weight: 700;
}

.heading-styles{
  color: #444791;
}

.text-style {
  color: #808080;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem; 
  padding-top: 0.313rem;
}

 