.payment--title {
    color: #757fef;
    font-family: Manrope;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin: 2rem;
    }
.payment-list-container {
    margin: 2rem;
    overflow: hidden;
    }