.video-player{
    width: 800px;
    height: 400px;
    margin: 3rem;
}
/* Additional styling for the video-info section */
.video-info {
    margin-top: 10px; /* Adjust margin as needed */
}
.text--video{
font-family: Arial;
font-size: 14px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #757fef;
}
  