.video-player{
max-width: 800px;
height: 400px;
margin: 3rem;
}

.video-info {
margin-top: 10px; 
}
.text--video{
font-family: Arial;
font-size: 14px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #757fef;
}
  