<div style="padding: 2rem">
  <form [formGroup]="createSchedulerForm">
    <div style="display: flex; gap: 2rem">
      <mat-form-field appearance="outline">
        <mat-label>Slot Size</mat-label>
        <mat-select
          [(ngModel)]="selectedSlotSize"
          required
          formControlName="slotSize"
        >
          <mat-option
            *ngFor="let option of option1"
            [value]="option.value"
            type="number"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-hint
          style="color: red"
          *ngIf="createSchedulerForm.get('slotSize')?.touched && createSchedulerForm.get('slotSize')?.errors?.['required']"
        >
          Slot Size is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cycle Time</mat-label>
        <mat-select
          [(ngModel)]="selectedCycleTime"
          required
          formControlName="cycleTime"
        >
          <mat-option
            *ngFor="let option of option2"
            [value]="option.value"
            type="number"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-hint
          style="color: red"
          *ngIf="createSchedulerForm.get('cycleTime')?.touched && createSchedulerForm.get('cycleTime')?.errors?.['required']"
        >
          Cycle Time is required
        </mat-hint>
      </mat-form-field>


     
      <mat-form-field appearance="outline">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start Date">
          <input matEndDate formControlName="endDate" placeholder="End Date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-hint style="color: red" *ngIf="dateRange.get('startDate')?.touched && dateRange.get('startDate')?.errors?.['required']">
          Start Date is required
        </mat-hint>
        <mat-hint style="color: red" *ngIf="dateRange.get('endDate')?.touched && dateRange.get('endDate')?.errors?.['required']">
          End Date is required
        </mat-hint>
      </mat-form-field>
      </div>
      
  

    <div>
      <div class="scheduler-available--heading">Available Content</div>
      <app-video-thumbnails-list
        (selectedVideosChange)="receiveSelectedVideos($event)"
  ></app-video-thumbnails-list>
    </div>

 <div>
      <div class="scheduler-available--heading">Available Screens</div>
      <div *ngIf="showAPILoader" class="enquiry-update--loader">
        <!-- Loader HTML -->
        <mat-spinner diameter="50" color="primary"></mat-spinner>
        <div>Screens Loading...</div>
      </div>
      <div class="create-scheduler-card">
        <mat-card *ngFor="let a of screenCards" class="card-container" >
          <div style="display: flex;flex-direction: row;gap: 0.5rem;">
            <div>
              <img [src]="a.imageUrls[0]" class="scheduler-image" (click)="openImageDialog(a)"/>
            </div>
            <div>
              <div class="scheduler-card-title">{{ a.screenName }}</div>
              <div class="scheduler-card-location">{{ a.address }}</div>
              <div>
                <div class="scheduler-card-font">Size: {{ a.size }}</div>
                <div class="scheduler-card-font">SFT: {{ a.SFT }}</div>
                <div class="scheduler-card-font">Next Available Date: {{ a.NextAvailableDate }}</div>
              </div>
            </div>
            <mat-checkbox
              (change)="toggleScreenSelection(a.ID, $event.checked)"
              [checked]="a.selected"
              class="checkbox"
            ></mat-checkbox>
          </div>
        </mat-card>
      </div>

    </div>
    
    
  </form>
  <div class="button" [class.disabled]="createSchedulerForm.invalid || isSubmitting">
    <button mat-raised-button color="primary" [disabled]="createSchedulerForm.invalid || isSubmitting" (click)="createSchedulers()">
      <span *ngIf="!isSubmitting">Create Scheduler</span>
      <span *ngIf="isSubmitting">
        <mat-spinner diameter="20" color="accent"></mat-spinner>
      </span>
    </button>
  </div>
  
</div>
