.create-scheduler-main--contianer{
    padding: 2rem
}
.create-scheduler--content{
    display: flex; 
    gap: 2rem
}
.create-scheduler-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
}

.create-scheduler-card--container{
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
    box-shadow: none;
    border-radius: 0.3rem;
}

.create-scheduler-card--content{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.create-scheduler-card--image{
        width: 5rem;
        height: 5rem;
    }
    
.mat-card {
        position: relative;
      }
.scheduler-available--heading{
    padding: 3rem 0rem 1rem 0rem;
    color: #757fef;
    font-family: Manrope;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
   
}

.button{
    margin-top: 2rem;
    text-align: end;
}

.create-scheduler-card--name{
    font-size: 15px;
    font-weight: 550;
    line-height: 16px;
    text-align: left;
    color: #333333;
    font-family: Arial;
    
}

.create-scheduler-card--address{
    font-size: 0.8rem;
    color: #5C5C5C;
    font-family: Arial;
    text-align: left;
}

.create-scheduler-card--subcontent{
    font-size: 0.7rem;
}

.create-scheduler-card--actions{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


  