<mat-card class="mat-card--container">
  <div class="table-title">Booking History</div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef class="heading-styles">
        Customer Name
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="image-container">
          <img
            src="assets/images/{{ element.iconName }}.png"
            class="customer-image"
          />
          <div class="text-style">{{ element.profile }}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="inventoryName">
      <th mat-header-cell *matHeaderCellDef class="heading-styles">
        Inventory Name
      </th>
      <td mat-cell *matCellDef="let element" class="text-style">
        {{ element.inventoryName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="runningAds">
      <th mat-header-cell *matHeaderCellDef class="heading-styles">
        Currently Running Ads
      </th>
      <td mat-cell *matCellDef="let element" class="text-style">
        {{ element.runningAds }}
      </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef class="heading-styles">
        Expiry Date
      </th>
      <td mat-cell *matCellDef="let element" class="text-style">
        {{ element.expiryDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="dataSource.data.length"
    [pageSize]="5"
    [pageSizeOptions]="[2, 5, 10, 15, 20]"
  ></mat-paginator>
</mat-card>
