.mat-card--container {
  margin: 1rem 1rem 2rem 2rem;
  border-radius: 0.5rem;
  width:640px;
}

.table-title {
  color: #4C4C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin: 1rem;
}

.image-container {
  display: flex;
}

.customer-image {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.heading-styles{
  color: #444791;
}

.text-style {
  color: #808080;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; 
  padding-top: 0.313rem;
}

  