.sticky-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other elements */
}

.election-campaign-toolbar {
  display: flex;
  align-items: center;
  align-content: center;
}

.parent-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand-icon-container {
  margin-left: auto; /* Pushes the icons to the right */
  display: flex;
  align-items: center;
  color: #00BCD4;
}

.mat-toolbar.mat-primary {
  background-color: #ffffff;
  color: #757fef;
  margin-left: 30px;
  border-bottom-left-radius: 10px;
}

::ng-deep .parent-link .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-logo--image{
  width: 150px;
  height: 45px;
}
.users-logo--image{
  width: 25px;
  margin-right: 6px;
}
.dashboard--title{
  display: flex;
  align-items: center;
}
.toolbar-header{
  display: flex;
  align-items: center;
  flex: 1 0 0;
}
.logout-btn{
margin-right: 1rem;
}
.logout-btn {
  position: relative;
}

.logout-btn::after {
  content: "logout";
  font-size: 1rem;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color:black;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logout-btn:hover::after {
  opacity: 1;
}
