<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened">
    <div>
      <img
        class="company-logo--image"
        src="assets/images/company-logo.png"
        alt="logo"
      />
    </div>

    <mat-nav-list>
      <a mat-list-item (click)="toggleSubNav('dashboard')" class="parent-link">
        <span class="dashboard--title"
          ><app-svg-icon
            iconName="dashboard"
            color="primary"
            style="margin-right: 6px"
          />
          Dashboard</span
        >
      </a>

      <a mat-list-item (click)="toggleSubNav('users')" class="parent-link">
        <span class="dashboard--title">
          <img
            class="users-logo--image"
            src="assets/images/users.svg"
            alt="logo"
          />
          Users</span
        >
      </a>

      <a
        mat-list-item
        (click)="toggleSubNav('organization')"
        class="parent-link"
      >
        <span class="dashboard--title">
          <img
            class="users-logo--image"
            src="assets/icons/organization.svg"
            alt="logo"
          />
          Organization</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('organization')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('organization')">expand_more</mat-icon>
        </div>
      </a>

      <mat-nav-list *ngIf="isSubNavOpen('organization')">
        <a mat-list-item routerLink="/organization/organization"
          >Create Organization</a
        >
      </mat-nav-list>

      <a mat-list-item (click)="toggleSubNav('booking')" class="parent-link">
        <span class="dashboard--title"
          ><img
            class="users-logo--image"
            src="assets/icons/screen.svg"
            alt="logo"
          />Booking</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('booking')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('booking')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('booking')">
        <a mat-list-item routerLink="/booking/create-booking">Create Booking</a>
        <a mat-list-item routerLink="/schedulers/playScheduler">Play</a>
        <!-- Add more sublinks as needed -->
      </mat-nav-list>

      <a mat-list-item (click)="toggleSubNav('campaign')" class="parent-link">
        <span class="dashboard--title"
          ><img
            class="users-logo--image"
            src="assets/icons/screen.svg"
            alt="logo"
          />Campaign</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('campaign')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('campaign')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('campaign')">
        <a mat-list-item routerLink="/campaign/create-campaign">Create Campaign</a>
      <a mat-list-item routerLink="/campaign/play-media">Play Media</a>
        <!-- Add more sublinks as needed -->
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubNav('quote')" class="parent-link">
        <span class="dashboard--title"
          ><img
            class="users-logo--image"
            src="assets/icons/quote.svg"
            alt="logo"
          />Quote</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('quote')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('quote')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('quote')">
        <a mat-list-item routerLink="/quote/create-quote">Create Quote</a>
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubNav('schedulers')" class="parent-link">
        <span class="dashboard--title"
          ><img
            class="users-logo--image"
            src="assets/images/schedulers.svg"
            alt="logo"
          />Schedulers</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('schedulers')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('schedulers')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('schedulers')">
        <a mat-list-item routerLink="/schedulers/createScheduler"
          >Create Scheduler</a
        >
        <a mat-list-item routerLink="/schedulers/playScheduler">Play</a>
        <a mat-list-item routerLink="/schedulers/publicScreens"
          >Public Screens</a
        >
        <!-- Add more sublinks as needed -->
      </mat-nav-list>

      <a mat-list-item (click)="toggleSubNav('screen')" class="parent-link">
        <span class="dashboard--title"
          ><img
            class="users-logo--image"
            src="assets/icons/screen.svg"
            alt="logo"
          />Screens</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('screen')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('screen')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('screen')">
        <a mat-list-item routerLink="/screen/createScreens">Create screens</a>
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubNav('media')" class="parent-link">
        <span class="dashboard--title"
          ><img
            class="users-logo--image"
            src="assets/images/media.svg"
            alt="logo"
          />Media</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('media')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('media')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('media')">
        <a mat-list-item routerLink="defaultMedia">Default Upload Media</a>
        <!-- Add more sublinks as needed -->
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubNav('roles')" class="parent-link">
        <span class="dashboard--title">
          <img
            class="users-logo--image"
            src="assets/images/booking.svg"
            alt="logo"
          />
          Roles</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('roles')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('roles')">expand_more</mat-icon>
        </div>
      </a>

      <mat-nav-list *ngIf="isSubNavOpen('roles')">
        <a mat-list-item routerLink="/booking/create-booking">Roles</a>
      </mat-nav-list>

      <a mat-list-item (click)="toggleSubNav('settings')" class="parent-link">
        <span class="dashboard--title">
          <img
            class="users-logo--image"
            src="assets/icons/settings.svg"
            alt="logo"
          />
          settings</span
        >
      </a>

      <a mat-list-item (click)="toggleSubNav('publicCase')" class="parent-link">
        <span class="dashboard--title">
          <img
            class="users-logo--image"
            src="assets/icons/publicCase.svg"
            alt="logo"
          />
          Public Case list</span
        >
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="election-campaign-toolbar sticky-toolbar"
      *ngIf="showToolBar"
    >
      <div class="toolbar-header">
        <button mat-icon-button (click)="sidenav.toggle()" class="profile-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Digital DOOH</span>
      </div>

      <app-profile-button
        [imageUrl]="'assets/images/admin.jpg'"
        [name]="role"
        [subtitle]="firstName + ' ' + lastName"
      >
      </app-profile-button>
      <button
        mat-icon-button
        *ngIf="isLoggedIn"
        (click)="logout()"
        class="logout-btn"
      >
        <mat-icon>logout</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="!isLoggedIn"
        (click)="login()"
        class="logout-btn"
      >
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
