<!-- <app-campaign-form></app-campaign-form> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="toggleSubNav('dashboard')" class="parent-link">
        <span>
          <app-svg-icon iconName="dashboard" color="primary" /> Dashboard</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('dashboard')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('dashboard')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('dashboard')">
        <a mat-list-item routerLink="/dashboard/sublink1">Sublink 1</a>
        <a mat-list-item routerLink="/dashboard/sublink2">Sublink 2</a>
        <!-- Add more sublinks as needed -->
      </mat-nav-list>

      <a mat-list-item (click)="toggleSubNav('users')" class="parent-link">
        <span> <app-svg-icon iconName="campaign" color="primary" /> Users</span>
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('dashboard')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('dashboard')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('users')">
        <a mat-list-item routerLink="/users/create">Create Users</a>
        <a mat-list-item routerLink="/users/sublink2">Sublink 2</a>
        <!-- Add more sublinks as needed -->
      </mat-nav-list>

      <a mat-list-item (click)="toggleSubNav('schedulers')" class="parent-link">
        <span
          ><app-svg-icon iconName="campaign" color="primary" />Schedulers</span
        >
        <div class="expand-icon-container">
          <mat-icon *ngIf="isSubNavOpen('dashboard')">expand_less</mat-icon>
          <mat-icon *ngIf="!isSubNavOpen('dashboard')">expand_more</mat-icon>
        </div>
      </a>
      <mat-nav-list *ngIf="isSubNavOpen('schedulers')">
        <a mat-list-item routerLink="/schedulers/sublink1">Sublink 1</a>
        <a mat-list-item routerLink="/schedulers/sublink2">Sublink 2</a>
        <!-- Add more sublinks as needed -->
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="election-campaign-toolbar">
      <div style="display: flex; align-items: center">
        <button mat-icon-button (click)="sidenav.toggle()" class="profile-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Digital DOOH</span>
      </div>
      <app-profile-button
        [imageUrl]="'assets/images/admin.jpg'"
        [name]="'Admin'"
        [subtitle]="'Bharat G'"
      >
      </app-profile-button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
