<div class="update-screen--container">
  <div class="update-screen--title">Update Screen</div>
<form [formGroup]="screenForm" (ngSubmit)="onSubmit()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" enctype="multipart/form-data">
  <div class="update-screen-main--container">
    <div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput multiple name="screenImage"/>
      <div class="update-screen--drop-area" (click)="openFileSelector()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)">
        <img src="assets/images/upload-file.svg" />
        <p>Drag & Drop to Upload Image</p>
        <p class="update-screen-browse-file--content">or browse</p>
        <div class="update-screen-image--container">
          <ng-container *ngFor="let imageUrl of fileUrls; let i = index">
            <div class="update-screen--image-item">
              <div class="update-screen--image-preview">
                <img [src]="imageUrl" alt="Uploaded Image" />
                <div class="remove-button-container">
                  <button mat-icon-button class="remove-button" (click)="removeImage(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="update-screen--content">
      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Screen Name</mat-label>
        <input matInput formControlName="screenName" required />
        <mat-hint style="color: red" *ngIf="screenForm.get('screenName')?.touched && screenForm.get('screenName')?.errors?.['required']">
          Screen Name is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field
            appearance="outline"
            [style.fontSize.px]="12"
            class="matform-full-width"
          >
            <mat-label>Screen Type</mat-label>
            <mat-select formControlName="screenType" required>
              <mat-option value="Tvs">Tvs</mat-option>
              <mat-option value="Billboard">Billboard</mat-option>
              <mat-option value="VideoWall">Video Wall</mat-option>
            </mat-select>
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('screenType')?.touched && screenForm.get('screenType')?.errors?.['required']"
            >
              Screen type is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            [style.fontSize.px]="12"
            class="matform-full-width"
          >
            <mat-label>Screen Size</mat-label>
            <mat-select formControlName="screenSize" required>
              <mat-option value="Small">Small</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="Large">Large</mat-option>
            </mat-select>
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('screenSize')?.touched && screenForm.get('screenSize')?.errors?.['required']"
            >
              Screen size is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>City Name</mat-label>
            <mat-select formControlName="cityName" required>
              <mat-option *ngFor="let city of cityNames" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Screen Category</mat-label>
            <mat-select formControlName="screenCategory" required>
              <mat-option
                *ngFor="let category of screenCategories"
                [value]="category"
              >
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Screen Network</mat-label>
            <mat-select formControlName="screenNetwork" required>
              <mat-option
                *ngFor="let network of screenNetworks"
                [value]="network"
              >
                {{ network }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Card Rate</mat-label>
            <input matInput formControlName="cardRate" type="number" required />
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('cardRate')?.touched && screenForm.get('cardRate')?.errors?.['required']"
            >
              Card Rate is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Minimum Price</mat-label>
            <input
              matInput
              formControlName="minimumPrice"
              type="number"
              required
            />
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('minimumPrice')?.touched && screenForm.get('minimumPrice')?.errors?.['required']"
            >
              Minimum Price is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Footfall Per Month</mat-label>
            <input
              matInput
              formControlName="footfallPerMonth"
              type="number"
              required
            />
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('footfallPerMonth')?.touched && screenForm.get('footfallPerMonth')?.errors?.['required']"
            >
              Footfall Per Month is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Footfall Per Day</mat-label>
            <input
              matInput
              formControlName="footfallPerDay"
              type="number"
              required
            />
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('footfallPerDay')?.touched && screenForm.get('footfallPerDay')?.errors?.['required']"
            >
              Footfall Per Day is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="matform-full-width">
            <mat-label>Locality</mat-label>
            <input matInput formControlName="locality" required />
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('locality')?.touched && screenForm.get('locality')?.errors?.['required']"
            >
              Locality is required
            </mat-hint>
          </mat-form-field>

      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Screen Status</mat-label>
        <mat-select required formControlName="screenStatus">
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
        <mat-hint style="color: red" *ngIf="screenForm.get('screenStatus')?.touched && screenForm.get('screenStatus')?.errors?.['required']">
          Screen Status is required
        </mat-hint>
      </mat-form-field>

      <div class="update-screen-size--content">
      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Width</mat-label>
        <input matInput formControlName="width" required />
        <mat-hint style="color: red" *ngIf="screenForm.get('width')?.touched && screenForm.get('width')?.errors?.['required']">
          Width is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Height</mat-label>
        <input matInput formControlName="height" required />
        <mat-hint style="color: red" *ngIf="screenForm.get('height')?.touched && screenForm.get('height')?.errors?.['required']">
          Height is required
        </mat-hint>
      </mat-form-field>
    </div>
    
      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>SFT</mat-label>
        <input matInput formControlName="SFT" required readonly />
      </mat-form-field>

      <mat-form-field
            appearance="outline"
            [style.fontSize.px]="12"
            class="matform-full-width"
          >
            <mat-label>Scheduler</mat-label>
            <mat-select
              required
              formControlName="schedulerId"
              (selectionChange)="onSchedulerChange($event)"
            >
              <mat-option
                *ngFor="let scheduler of schedulers"
                [value]="scheduler._id"
              >
                {{ scheduler.schedulerName }}
              </mat-option>
            </mat-select>
            <mat-hint
              style="color: red"
              *ngIf="screenForm.get('schedulerId')?.touched && screenForm.get('schedulerId')?.errors?.['required']"
            >
              Scheduler is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            [style.fontSize.px]="12"
            class="matform-full-width"
          >
            <mat-label>Slot Size</mat-label>
            <input matInput formControlName="slotSize" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            [style.fontSize.px]="12"
            class="matform-full-width"
          >
            <mat-label>Cycle</mat-label>
            <input matInput formControlName="cycleTime" />
          </mat-form-field>

      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Next Available Date</mat-label>
        <input matInput formControlName="NextAvailableDate" [matDatepicker]="picker" required/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint style="color: red" *ngIf="screenForm.get('NextAvailableDate')?.touched && screenForm.get('NextAvailableDate')?.errors?.['required']">
          Next Available Date is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field
  appearance="outline"
  [style.fontSize.px]="12"
  class="matform-full-width"
>
  <mat-label>Width in Pixels</mat-label>
  <input matInput formControlName="widthInPixels" type="number" required />
  <mat-hint
    style="color: red"
    *ngIf="screenForm.get('widthInPixels')?.touched && screenForm.get('widthInPixels')?.errors?.['required']"
  >
    Width in Pixels is required
  </mat-hint>
</mat-form-field>

<mat-form-field
  appearance="outline"
  [style.fontSize.px]="12"
  class="matform-full-width"
>
  <mat-label>Height in Pixels</mat-label>
  <input matInput formControlName="heightInPixels" type="number" required />
  <mat-hint
    style="color: red"
    *ngIf="screenForm.get('heightInPixels')?.touched && screenForm.get('heightInPixels')?.errors?.['required']"
  >
    Height in Pixels is required
  </mat-hint>
</mat-form-field>

<mat-form-field
  appearance="outline"
  [style.fontSize.px]="12"
  class="matform-full-width"
>
  <mat-label>State</mat-label>
  <mat-select formControlName="state" required>
    <mat-option *ngFor="let state of states" [value]="state">
      {{ state }}
    </mat-option>
  </mat-select>
  <mat-hint
    style="color: red"
    *ngIf="screenForm.get('state')?.touched && screenForm.get('state')?.errors?.['required']"
  >
    State is required
  </mat-hint>
</mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Location Coordinates</mat-label>
        <input matInput formControlName="locationCoordinates" required />
        <mat-hint style="color: red" *ngIf="screenForm.get('locationCoordinates')?.touched && screenForm.get('locationCoordinates')?.errors?.['required']">
          Location Coordinates is required
        </mat-hint>
        <mat-hint style="color: red" *ngIf="screenForm.get('locationCoordinates')?.errors?.['invalidCoordinate']">
          Invalid coordinates format. Please enter in the format:
          latitude,longitude
        </mat-hint>
      </mat-form-field>

      <mat-form-field
      appearance="outline"
      [style.fontSize.px]="12"
      class="matform-full-width"
    >
      <mat-label>Pincode</mat-label>
      <input matInput formControlName="pincode" required />
      <mat-hint
        style="color: red"
        *ngIf="screenForm.get('pincode')?.touched && screenForm.get('pincode')?.errors?.['required']"
      >
        Pincode is required
      </mat-hint>
    </mat-form-field>

      <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address" required></textarea>
        <mat-hint style="color: red" *ngIf="screenForm.get('address')?.touched && screenForm.get('address')?.errors?.['required']">
          Address is required
        </mat-hint>
      </mat-form-field>
    </div>


    <div class="update-screen-footer-content">
      <button mat-stroked-button color="primary"><a routerLink="/screen">Cancel</a></button>
      <button mat-raised-button class="update-screen-footer-button" color="primary" type="submit">
        Update Screen
      </button>
    </div>
  </div>
</form>
</div>