:host {
    display: block;
    text-align: center;
    padding: 1rem;
  }
  
  mat-dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #4caf50; /* Green color for the title */
  }
  
  mat-dialog-content {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #333; /* Dark color for content */
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  button[mat-button] {
    font-size: 1rem;
    color: #1976d2;
  }
  
  .success-message {
    color: #4caf50; /* Green color for the success message */
    font-size: 1.2rem; /* Adjust font size */
    margin-bottom: 1rem; /* Add space below the message */
  }
  
  .success-content {
    font-size: 1.1rem; /* Adjust font size for content */
    color: #333; /* Dark color for content */
  }
  
  p {
    margin: 0.5rem 0;
  }
  