<div class="list-scheduler--table">
  <div class="list-scheduler--title">List Schedulers</div>
  <mat-form-field appearance="outline" [style.fontSize.px]="14">
    <mat-label class="small-label">Search</mat-label>
    <input
      type="text"
      matInput
      placeholder="Search by scheduler name"
      (input)="onSearchChange($event)"
      class="search-input"
    />
    <button
      mat-icon-button
      matSuffix
      aria-label="Search"
      class="small-icon"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner diameter="70"></mat-spinner>
    <div>list-scheduler loading...</div>
  </div>

  <div *ngIf="!isLoading && noSchedulersFound" class="no-schedulers-found">
    No scheduler found.
  </div>

  <mat-table [dataSource]="dataSource" *ngIf="!isLoading && !noSchedulersFound">
    <!-- table columns go here -->

    <ng-container matColumnDef="schedulerName">
      <mat-header-cell *matHeaderCellDef>Scheduler Name</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">{{ scheduler.schedulerName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">{{ scheduler.startDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">{{ scheduler.endDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cycleTime">
      <mat-header-cell *matHeaderCellDef>Cycle Time</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">{{ formatCycleTime(scheduler.cycleTime) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="slotSize">
      <mat-header-cell *matHeaderCellDef>Slot Size</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">{{ formatSlotSize(scheduler.slotSize) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="videoUrls">
      <mat-header-cell *matHeaderCellDef>Video Urls</mat-header-cell>
      <mat-cell *matCellDef="let scheduler" class="ellipsis-cell">
        <ng-container *ngIf="scheduler.videoUrls && scheduler.videoUrls.length > 0">
          <ng-container *ngFor="let video of scheduler.videoUrls">
            <a href="{{ video.videoUrl }}" target="_blank" class="ellipsis-link">{{ video.videoUrl }}</a><br />
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="screenId">
      <mat-header-cell *matHeaderCellDef>Screen ID</mat-header-cell>
      <mat-cell
        *matCellDef="let scheduler"
        class="ellipsis-cell"
        matTooltip="{{ scheduler.screenIds.join(', ') }}"
        matTooltipPosition="above"
      >
        <ng-container *ngIf="scheduler.screenIds && scheduler.screenIds.length > 0">
          <ng-container *ngFor="let screenId of scheduler.screenIds; let last = last">
            {{ screenId }}{{ !last ? ", " : "" }}
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">
        <button mat-icon-button (click)="deleteScheduler(scheduler)">
          <img src="assets/images/delete.svg" />
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let scheduler">
        <button mat-icon-button (click)="editScheduler(scheduler._id)">
          <img src="assets/images/edit.svg"/>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row class="mat-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="list-scheduler--data" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    *ngIf="!noSchedulersFound"
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[2, 5, 10, 25, 50, 100]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
