<div class="list-scheduler--table">
  <div class="list-scheduler--title">List Schedulers</div>
  <div class="mat-elevation-z1">
    <mat-table [dataSource]="dataSource">

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
        <mat-cell *matCellDef="let scheduler">{{ scheduler.startDate }}</mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
        <mat-cell *matCellDef="let scheduler">{{ scheduler.endDate }}</mat-cell>
      </ng-container>

      <!-- Cycle Time Column -->
      <ng-container matColumnDef="cycleTime">
        <mat-header-cell *matHeaderCellDef>Cycle Time</mat-header-cell>
        <mat-cell *matCellDef="let scheduler">{{
          scheduler.cycleTime
        }}</mat-cell>
      </ng-container>
      <!-- Slot Size Column -->
      <ng-container matColumnDef="slotSize">
        <mat-header-cell *matHeaderCellDef>Slot Size</mat-header-cell>
        <mat-cell *matCellDef="let scheduler">{{
          scheduler.slotSize
        }}</mat-cell>
      </ng-container>
      <!-- Video Urls Column -->
      <ng-container matColumnDef="videoUrls">
        <mat-header-cell *matHeaderCellDef>Video Urls</mat-header-cell>
        <mat-cell *matCellDef="let scheduler" class="ellipsis-cell">
          <ng-container
            *ngIf="scheduler.videoUrls && scheduler.videoUrls.length > 0"
          >
            <ng-container *ngFor="let video of scheduler.videoUrls">
              <a
                href="{{ video.videoUrl }}"
                target="_blank"
                class="ellipsis-link"
                >{{ video.videoUrl }}</a
              >
              <br />
            </ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- ScreenId Column -->
      <ng-container matColumnDef="screenId">
        <mat-header-cell *matHeaderCellDef>Screen ID</mat-header-cell>
        <mat-cell *matCellDef="let scheduler" class="ellipsis-cells">
          <ng-container
            *ngIf="scheduler.screenIds && scheduler.screenIds.length > 0"
          >
            <ng-container
              *ngFor="let screenId of scheduler.screenIds; let last = last"
            >
              {{ screenId }}{{ !last ? ", " : "" }}
            </ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

<!-- Add delete button column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let scheduler">
          <button mat-icon-button (click)="deleteScheduler(scheduler)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row
        class="mat-header"
        *matHeaderRowDef="displayedColumns"
      ></mat-header-row>
      <mat-row
        class="list-scheduler--data"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>

    <!-- Pagination -->
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[2, 5, 10, 25, 50, 100]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
