<mat-card class="mat-card--container">
  <div class="thank-you-container">
    <div class="company-logo--container">
      <img
        src="assets/images/company-logo.png"
        alt="company-logo"
        class="logo"
      />
    </div>
    <div class="thank-you-message">
      <img
        src="assets/images/thank-you.svg"
        alt="thank you"
        class="thank-you-image"
      />
      <h2>Thank you for your submission</h2>
      <p>The team will attend to your case shortly.</p>
    </div>
  </div>
</mat-card>
