.organization--main-container{
padding: 2rem;
margin: 3rem 2rem;
background-color: white;
border-radius: 0.5rem;
}

.create-organization--title {
color: #757fef;
font-family: Manrope;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 2rem;
}
.organization--form-fields{
display: grid;
grid-gap: 8px 24px;
max-width: 100%;
grid-template-columns: repeat(3, 1fr);
padding: 2rem 0;
}
.create-organization-footer--content {
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
}
.mat-row, .mat-header-row {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgba(0, 0, 0, 0.12);
}
.mat-cell, .mat-header-cell {
flex: 1;
padding: 10px;
}

.mat-header{
background-color: #F7F7F7;
font-family: Arial;
font-size: 12px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #757fef;
}