<div class="organization--main-container">
  <div class="create-organization--title">Create Organization</div>
  <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
    <div class="organization--form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="organizationForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="organizationForm.get('firstName')?.hasError('required')">
          First Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="organizationForm.get('lastName')?.hasError('required')">
          Last Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="organizationForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="organizationForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Organization ID</mat-label>
        <input matInput formControlName="organizationId">
        <mat-error *ngIf="organizationForm.get('organizationId')?.hasError('required')">
          Organization ID is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
    </div>
    <div class="create-organization-footer--content">
      <button mat-raised-button color="primary" type="submit">Create Organization</button>
    </div>
  </form>
</div>
