
.drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0.1rem dashed #757fef;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #ffff;
}

.media-upload--title {
  color: #000000;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.drop-container p {
  margin: 0;
}

.drop-container.dragging {
  border-color: #666;
}

.drop-container img {
  object-fit: cover;
}

.upload-button {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  transition: background-color 0.3s;
}

.file-item:hover {
  background-color: #eee;
}

.file-item span {
  flex-grow: 1;
}

.file-item button {
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-item mat-icon {
  font-size: 20px;
}
