.media-upload-container {
  margin: 2rem;
}
.drop-area {
  display: flex;
  flex-direction: column;
  border: 0.1rem dashed #757fef;
  border-radius: 0.2rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ffff;
}
.media-upload--title {
  color: #000000;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.drop-container p {
  margin: 0;
}

.drop-container.dragging {
  border-color: #666;
}

.drop-container img {
  object-fit: cover;
}

.upload-button {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
