.campaign--title {
color: #757fef;
font-family: Manrope;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 2rem;
margin: 2rem;
}
.campaign-list-container {
margin: 2rem;
overflow: hidden;
}
.mat-header-cell {
background-color: #F7F7F7 !important;
font-family: Arial, sans-serif;
font-size: 12px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #757fef;
}
.mat-cell {
font-family: Arial, sans-serif;
font-size: 12px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #808080;
}
.campaign--table{
 padding: 2rem;
}