<div class="campaign-list-container">
  <mat-card>
    <div class="campaign--title">Campaign List</div>
    <div class="campaign--table">
      <table mat-table [dataSource]="campaigns" class="mat-elevation-z0">
        <ng-container matColumnDef="customerName">
          <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
          <mat-cell *matCellDef="let campaign">
            {{ campaign.customerName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let campaign">
            {{ campaign.startDate | date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
          <mat-cell *matCellDef="let campaign">
            {{ campaign.endDate | date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noOfScreens">
          <mat-header-cell *matHeaderCellDef>No of Screens</mat-header-cell>
          <mat-cell *matCellDef="let campaign">
            {{ campaign.screenIds.length }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let campaign">
            <ng-container *ngIf="!campaign.isMediaUploaded; else uploaded">
              <button
                mat-raised-button
                color="primary"
                (click)="onUploadMedia(campaign._id)"
              >
                Upload Media
              </button>
            </ng-container>
            <ng-template #uploaded>
              <span style="color: green">Media is uploaded</span>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="mat-header-cell"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="mat-cell"
        ></mat-row>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card>
</div>
