.create-screen-main-container {
  padding: 2rem 2rem 0rem 2rem;
  padding-left: 2.1rem;
}

.create-screen-title {
  color: #757fef;
  font-family: Manrope;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 3.25rem;
}

.create-screen--content {
  display: grid;
  grid-gap: 8px 24px;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.drop-area {
  display: flex;
  flex-direction: column;
  border: 0.1rem dashed #757fef;
  border-radius: 0.2rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fafbfb;
}

.drop-area img {
  max-width: 7rem;
  max-height: 7rem;
}

.drop-area p {
  margin: 0;
}

.Browse-file--content {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-fill-color: #757fef;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.remove-button-container {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: translate(50%, -50%); 
}

.remove-button {
  background-color: transparent;
  color: rgba(19, 19, 19, 0.516); 
}

.remove-button:hover {
  background-color: transparent;
}

.create-screen-size--content{
  display: flex;
  min-width: 100%;
  gap: 0.5rem;
}

.create-screen-footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.create-screen-footer-button {
  background: #757fef;
  -webkit-text-fill-color: #fff;
  box-shadow: none;
}

