<form [formGroup]="screenForm" (ngSubmit)="onSubmit()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" enctype="multipart/form-data">
    <div style="padding: 2rem 2rem 0rem 2rem;">
      <!-- Image Upload -->
      <div>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput multiple name="screenImage">
        <div class="drop-area" (click)="openFileSelector()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)">
          <img src="assets/images/upload-file.svg"/>
          <p>Drag & Drop to Upload Image</p>
          <p class="Browse-file--content">or browse</p>
          <div class="image-container">
            <ng-container *ngFor="let file of imageFiles">
              <img [src]="getFileUrl(file)" alt="Uploaded Image">
            </ng-container>
          </div>
        </div>
      </div>
      
      
  
      <!-- Screen Details -->
      <div class="create-screen--content">
        
          <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
          <mat-label>Screen Name</mat-label>
          <input matInput formControlName="screenName" required />
          <mat-hint style="color: red;" *ngIf="screenForm.get('screenName')?.touched && screenForm.get('screenName')?.errors?.['required']">
          Screen Name is required
          </mat-hint>
        </mat-form-field>
        

        <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
          <mat-label>Screen Status</mat-label>
          <mat-select required formControlName="screenStatus">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
          <mat-hint style="color: red;" *ngIf="screenForm.get('screenStatus')?.touched && screenForm.get('screenStatus')?.errors?.['required']">
            Screen Status is required
          </mat-hint>
        </mat-form-field>
        
        
        <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
          <mat-label>Size</mat-label>
          <input matInput formControlName="size" required />
          <mat-hint style="color: red;" *ngIf="screenForm.get('size')?.touched && screenForm.get('size')?.errors?.['required']">
            size is required
          </mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
          <mat-label>SFT</mat-label>
          <input matInput formControlName="SFT" required />
          <mat-hint style="color: red;" *ngIf="screenForm.get('SFT')?.touched && screenForm.get('SFT')?.errors?.['required']">
            SFT is required
          </mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width">
            <mat-label>Next Available Date</mat-label>
            <input matInput formControlName="NextAvailableDate" [matDatepicker]="picker" required/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint style="color: red;" *ngIf="screenForm.get('NextAvailableDate')?.touched && screenForm.get('NextAvailableDate')?.errors?.['required']">
                Next Available Date is required
              </mat-hint>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Location Coordinates</mat-label>
            <input matInput formControlName="locationCoordinates" required />
            <mat-hint style="color: red;" *ngIf="screenForm.get('locationCoordinates')?.touched && screenForm.get('locationCoordinates')?.errors?.['required']">
              Location Coordinates is required
            </mat-hint>
            <mat-hint style="color: red;" *ngIf="screenForm.get('locationCoordinates')?.errors?.['invalidCoordinate']">
              Invalid coordinates format. Please enter in the format: latitude,longitude
            </mat-hint>
          </mat-form-field>
          
          <mat-form-field appearance="outline" [style.fontSize.px]="14" class="matform-full-width" >
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" required></textarea>
            <mat-hint style="color: red;" *ngIf="screenForm.get('address')?.touched && screenForm.get('address')?.errors?.['required']">
              Address is required
            </mat-hint>
          </mat-form-field>

         

     
  </div>
      <!-- Submit Button -->
      <div class="footer-button">
        <button mat-raised-button style="background: #757fef;-webkit-text-fill-color: #fff;box-shadow: none;"  type="submit">Create Screen</button>
      </div>
    </div>
  </form>
  
